html {
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
  width: 640px;
  padding: 50px;
  background: #fce2ca;
  color: #1f0309;
  font-family: sans-serif;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
}

/*IF YOU WANT TO MAKE AN IMAGE HAVE A 
CIRCULAR BORDER INSTEAD OF A RECTANGULAR ONE 

img {
  border-radius: 50%;
}
*/



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



