body {
     margin: auto;
     width: 640px;
     padding: 50px;
     background: #fce2ca;
     color: #1f0309;
     font-family: sans-serif;

}
/* Centered Image Code */
 img {
     display: block;
     width: 60%;
     margin: auto;
}

